{% extends "blank_layout.html" %}
{% load static %}
{% block content %}

<section style="background-color: #f4f5f7; height: 650px;">

    <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-10">

                <h1>500 - Server Error</h1>

                <p>Sorry, there was an error on our end. Please try again later.</p>

                <a href="{% url 'index' %}">Go to Home</a>

            </div>

        </div>

    </div>

</section>

{% endblock %}