{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>FluentsySpeak</title>
  <link rel="icon" href="{% static 'images/logo1.png' %}" type="image/png">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="index-page">



  <main class="main">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'images/logo1.png' %}" style="margin-right: 2px;" alt="fluentsyspeak">
          <h1 class="sitename">FluentsySpeak</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            {% if user.is_authenticated %}
              {% if userhomebutton.enrolled %}
              <li><a href="{% url 'UserHome' %}">User Private Home</a></li>
              {% endif %}
            {% else %}
            <li><a href="{% url 'index' %}">Home</a></li>
            {% endif %}

            {% if user.is_authenticated %}
              {% if user.userType == 'promoter' %}
                  <li><a href="{% url 'promoter_dashboard' promoter_username=user.username %}">Promoter Dashboard</a></li>
              {% else %}
                <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
              {% endif %}
            
            
            {% endif %}
            {% if user.is_authenticated %}
              {% if userhomebutton.enrolled %}
              <li><a href="{% url 'GrammerPage' %}">Grammer Class</a></li>
              {% endif %}
            {% endif %}
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        {% if user.is_authenticated %}
        <a class="btn-getstarted" href="{% url 'signOut' %}">Log Out</a>
        {% else %}
        <style>
          .desktop-text {
              display: none; /* Hide desktop text by default */
          }

          .mobile-text {
              display: inline; /* Show mobile text by default */
          }

          @media (min-width: 768px) {
              .desktop-text {
                  display: inline; /* Show desktop text on larger screens */
              }
              
              .mobile-text {
                  display: none; /* Hide mobile text on larger screens */
              }
          }
        </style>
          <a class="btn-getstarted" href="{% url 'register' %}">
              <span class="desktop-text">Join now</span>
              <span class="mobile-text">Join</span>
          </a>
        {% endif %}

      </div>
    </header>

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 class="fs-3">Contact</h2>
        <p>Our Team Will Get Back To You Soon Within 24 Hours</p>
      </div><!-- End Section Title -->

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>MG Road Kochi, kerala</p>
              </div>
            </div><!-- End Info Item -->

            {% comment %} <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 </p>
              </div>
            </div> {% endcomment %}<!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>fluentsyspeak@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-7">
            <form method="post"  class="php-email-form1" data-aos="fade-up" data-aos-delay="500">
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                 
                  {% if messages %}
                    {% for message in messages %}
                      <div class="sent-message mt-2 mb-2" style="color: {% if 'error' in message.tags %}red{% elif 'success' in message.tags %}green{% endif %};">{{message}}</div>
                    {% endfor %}
                  {% endif %}

                  <button name="sendmessage" type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- /Contact Section -->

    <footer id="footer" class="footer">

      <div class="container">
          <div class="copyright text-center ">
              <p>© <span id="currentYear"></span> <span>Copyright</span> <strong class="px-1 sitename">FluentsySpeak</strong> <span>All Rights
                      Reserved</span></p>
          </div>
          {% if user.userType == 'promoter' %}
          <div class="mt-3 d-flex justify-content-center">

            <a href="{% url 'contactUs' %}">contact us</a>

          </div>
          {% else %}
          <div class="mt-3 d-flex justify-content-center">

              <a href="{% url 'privacypolicy' %}">privacy policy</a> &nbsp;|&nbsp;
              <a href="{% url 'termsofservice' %}">terms of service</a> &nbsp;|&nbsp;
              <a href="{% url 'contactUs' %}">contact us</a>

          </div>
          {% endif %}

      </div>

      <script>
          // JavaScript to set the current year in the footer
          document.getElementById('currentYear').textContent = new Date().getFullYear();
      </script>
  </footer>
  </main>



  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/validate.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/glightbox.min.js' %}"></script>
  <script src="{% static 'js/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>

</html>