{% extends "blank_layout.html" %}
{% load static %}
{% block content %}

<section style="background-color: #f4f5f7;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-9">
                <h2 class="fw-bold row justify-content-center" style="color: #52a7e0; font-style: italic; margin-bottom: 30px;">Privacy Policy</h2>
                <h4 class="fw-bold">1. Introduction</h3>

                <p>We are committed to protecting your privacy. This policy explains how we collect, use, and safeguard
                your information when you use our services.</p>
                <h4 class="fw-bold">2. Information We Collect</h3>
                <p>
                Personal Information: We may collect personal details like your name, email address, and username when you sign up.
                Usage Data: We collect information on how you interact with our website, including IP addresses, browser
                types, and pages visited.</p>
                <h4 class="fw-bold">3. How We Use Your Information</h3>
                <ul>
                    <li>To provide and maintain our service.</li>
                    <li>To notify you about changes to our service.</li>
                    <li>To allow you to participate in interactive features of our service.</li>
                    <li>To provide customer support.</li>
                    <li>To monitor the usage of our service.</li>
                </ul>
                
                
                
                
                
                <h4 class="fw-bold">4. Sharing Your Information</h3>
                <p>
                We do not share your personal information with third parties except to comply with the law, protect our
                rights, or as part of business transfers.</p>
                <h4 class="fw-bold">5. Security</h3>

                <p>We take appropriate security measures to protect your information from unauthorized access, alteration,
                or disclosure.</p>
                <h4 class="fw-bold">6. Your Rights</h3>

                <p>You have the right to access, correct, or delete your personal information.
                You can also opt out of receiving marketing communications from us.</p>
                <h4 class="fw-bold">7. Changes to This Privacy Policy</h3>

                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
                Privacy Policy on this page.</p>
                <h4 class="fw-bold">8. Contact Us</h3>

                <p>If you have any questions about this Privacy Policy, please contact us.</p>
            </div>
        </div>
    </div>
</section>




{% endblock %}